.searchPage {
    width: 100%;
    height: 100%;

    padding-top: 80px; // for appbar

    .content { 
        width: 100%;
        height: 100%; // for appbar
        padding: 40px;

        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 100px 40px 1fr;
        grid-template-areas:
            "filter search"
            "filter pagination"
            "filter results";
        gap: 0 1rem;

        .filtersSection {
            grid-area: filter;
            padding-top: 40px;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            .sort {
                b {
                    font-size: 1.1rem;
                    font-weight: bold;
                    height: 25px;
                }
            }
            
            .filter {
                .label {
                    font-size: 1.1rem;
                    font-weight: bold;
                    height: 25px;
                }
            }
        }

        .searchSection {
            grid-area: search;

            .searchOptions {
                padding: .5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .searchTypes {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .5rem;

                    .searchType {
                        width: fit-content;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        input {
                            margin-right: .2rem;
                        }
                    }
                }

                .searchIn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .5rem;

                    .searchInLabel {
                        width: fit-content;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        input {
                            margin-right: .2rem;
                        }
                    }
                }
            }
        }

        .resultsSection {
            grid-area: results;
            height: 100%;
            overflow: auto;
            margin-right: -1rem;
            margin-left: -1rem;
            padding: 0 1rem;
            border-radius: 10px;

            .resultCard {
                width: 100%;
                height: 200px;
                padding: 20px 0;
                margin-bottom: 1rem;

                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                background-color: #fff;
               
                display: flex;
                flex-direction: row;
                // justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .image {
                    min-width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    background-color: #eee;
                    background-image: url('/assets/bookPlaceholder.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .info {
                    height: 100%;
                    overflow: auto;
                    padding: 0 1rem;

                    .name {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: #333;
                        margin-bottom: 1rem;
                    }

                    .author {
                        font-size: 1.1rem;
                        color: #666;
                        margin-bottom: 1rem;
                    }

                    .description {
                        font-size: 1.1rem;
                        color: #666;
                        margin-bottom: 1rem;
                    }
                }

                &:hover {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }
        }
    }
}